127.0.0.1 localhost

{{ ip_gb_admin }} gb-admin
{{ ip_gb_kube_vols }} gb-kube-vols
{{ ip_gb_kube_db }} gb-kube-db
{{ ip_gb_kube_m1 }} gb-kube-m1
{{ ip_gb_kube_n1 }} gb-kube-n1
{{ ip_gb_kube_n2 }} gb-kube-n2

# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
